<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <!-- Single Catagory -->
        
        <% list_product.forEach(p => { %>
            <div class="single-products-catagory clearfix">
                <a href="/product?id=<%=p.ProductID%>">
                    <img src="img/bg-img/1.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <p>From $180</p>
                        <h4><%=p.ProductName%></h4>
                    </div>
                </a>
            </div>
        <%})%>
   
    </div>
</div>